

<style>
    #cart_menu_num {
        margin-left: -15px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 2px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top cabeceranav" style="position:fixed">

    <a class="navbar-brand imgcabecera" href="/"><img src="~/img/Iconos/logo_gestoria.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto licabecera">
            <li class="nav-item licabecera">
                <a class="nav-link anavcabecera" href="/"><strong>BUSCADOR DE DOCUMENTOS</strong></a>
            </li>
            <li class="nav-item licabecera">
                <a class="nav-link anavcabecera" href="/"><strong>ENVÍO DE DOCUMENTOS</strong></a>
            </li>
        </ul>
        <div class="navbar-nav mr-auto" style="float:right;margin-top: 10px;font-size:18px">
            <a class="nav-link anavcabecera" style="margin-left:85px; margin-top:-15px" href="/Login"><strong>Acceso &nbsp; &nbsp;<i class="fas fa-sign-in-alt" style="font-size:18px; padding-top:15px;" title="Acceso Perfil"></i></strong></a>
        </div>
    </div>

</nav>
<style>
    .dropdown-menu {
        left: -30px;
        min-width: 100px;
    }

        .dropdown-menu :hover {
            font-weight: bold;
            background: none;
            border-bottom: 0px !important;
            color: #4183c4;
        }

    .dropdown-item {
        color: #4183c4;
    }
</style>
